h1 {
    padding-top: 100px;
}
nav {
    margin-bottom: 2%;
}
.section1 {
    text-align: center;
}
.section3 {
    background-color: coral;
    text-align: center;
}
img.resize {
    width:100%; 
    height: auto;
    border-radius: 25px;
    padding-top: 10px;
} 
