/* Scrollbar */
::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-thumb {
	background-color: #343a40;
}
::-webkit-scrollbar-thumb:hover {
	background-color:lightcoral;
}

/* HTML Tags */
body {
	font-family: "Libre Franklin", sans-serif;
}
p {
	line-height: 1.5;
}
h1 {
	font-size: 6rem;
	color: white;
	font-weight: 900;
}
h2 {
	font-weight: 800;
	font-size: 2.5rem;
}

/* Classes */
.section1 {
	scroll-margin-top: 3.3em;
	background-image: url("../images/b1.jpg");
	background-position: center;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    display: flex;
}
.about-text {
	font-size: 1.3rem;
}
.section2,
.section3 {
	width: 90%;
	margin: auto;
    scroll-margin-top: 3.3em;
    margin-top: 100px;
}
img.resize {
	width: 100%;
	height: auto;
	border-radius: 25px;
	padding-top: 10px;
}
.h2links {
    color: inherit;
}
.carouselNonFic {
	background-color: #343a40;
	border-radius: 25px;
	padding: 15px 0;
}
.carouselFic {
	background-color: #343a40;
	border-radius: 25px;
	padding: 15px 0;
}
.card{
	padding: 10px;
	border-width: 0;
}
.fc {
	background-color: #343a40;
}
.nfc {
	background-color: #343a40;
}


/* ids */
#aboutUs {
	width: 90%;
	margin: auto;
    scroll-margin-top: 3.3em;
    margin-top: 100px;	
}

/* Phone Screen */
@media screen and (max-width: 575px) {
	h1 {
		font-size: 3rem;
	}
	.card1 {
		margin: auto;
		display: flex;
	}
	img.resize {
		min-width: 50%;
	}
	.text-center {
		margin: auto;
		padding-left: 10px;
	}
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}